#info{
    background:  #b00009;
    color: white;
    text-align: center;
    padding: 20px;
    
}

#info .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-auto{
    margin: 20px;
}

.info-auto img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid #fff; 
}